{% extends 'volunteer/base.html' %}
{% load static %}

{% block title %}Account Settings - {{ block.super }}{% endblock %}

{% block page_title %}Account Settings{% endblock %}
{% block page_description %}Manage your account preferences.{% endblock %}

{% block volunteer_content %}
    <div class="placeholder-content">
        <p>This is where you will be able to manage your account settings, such as changing your password or deleting your account.</p>
        <p><strong>This feature is currently under development.</strong></p>
    </div>
{% endblock volunteer_content %}
