{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {# The head content will be provided by the child template #}
    {% endblock head %}
</head>
<body>
    {% block body %}
        <aside class="sidebar">
            <div class="sidebar-header">
                <h1>{% block sidebar_title %}Dashboard{% endblock %}</h1>
                <p>{% block sidebar_subtitle %}Main Menu{% endblock %}</p>
            </div>
            
            <nav class="sidebar-nav">
                {% block nav_links %}
                    <!-- Navigation links will be injected here by the child template -->
                {% endblock nav_links %}
            </nav>
        </aside>
    {% endblock body %}
</body>
</html>